#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build/ dist/ *.egg-info/

override_dh_auto_install:
	dh_auto_install
	# Create certificate directory
	mkdir -p debian/thumbsup-client/etc/thumbsup/certs
	# Create mount point
	mkdir -p debian/thumbsup-client/mnt/nas
